@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.miama-font {
  font-family: 'Miama', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 9rem;
}

  .header-bg{
    /* background-image: linear-gradient(to bottom, #111111, #777777); */
    background-image: linear-gradient(#111111, #777777, #111111);
  }

  /* shared styles */
  .background-color {
    background-color: #111111;
  }
  

  .display-flex {
    display: flex;
  }

  .btn-primary {
    background-color: #E6533C;
    color: white;
    padding: 16px 46.5px;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 42px;
    border: none;
  }

  .secondary-btn {
    /* background-image: linear-gradient(to right,#111111, #777777); */
    background-color: black;
    color: white;
    padding: 16px 46.5px;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 42px;
    border: none;
    margin-left: 15px;
  }

  /* light-02 */
  .text-gray {
    color: rgba(255, 255, 255, 1);
  }

   /* light-01 */
   .text-light-gray {
    color: rgba(255, 255, 255, 0.5);
  }


  /* header styles */
  .brand {
    font-size: 2.25rem;
    font-weight: 800;
    color: rgba(230, 83, 60, 1);
    font-style: italic;
  }

  /* home navbar styles */
  .home-navbar{
    background-color: rgba(230, 83, 60, 1);
    width: 92px;
    height: 38px;
    border-radius: 46px;
    padding: 10px 20px;
  }
  
  /* navbar styles */
  .navbar {
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-link {
    text-decoration: none;
  }

  .nav-item {
    list-style: none;
    margin-right: 47px;
  }

  .navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
  }

  /* banner styles */

  .banner-title {
    width: 520px;
    height: 282px;
    font-size: 4.8rem;
    font-weight: 900;
    text-align: left;
    line-height: 130%;
  }

  .banner-description {
    width: 520px;
    height: 48px;
    font-size: 1rem;
  }

  .banner-img {
    margin-left: 88px;
    margin-right: 214px;
  }

  .test {
    position: relative;
  }

  #workout-badge {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: none;
    padding: 17px 53px 17px 24px;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: left;
    position: absolute;
    left: -20px;
    top: 400px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .red-circle {
    border: 2px solid red;
    padding: 20px;
    background-color: #E6533C;
    border-radius: 9999px;
  }
  #another-badge {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: none;
    padding: 17px 53px 17px 24px;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: left;
    position: absolute;
    right: 150px;
    top: 150px;
  }

  #workout-num {
    color: #FFFFFF;
    font-size: 2.4rem;
    font-weight: 800;
  }
   #free-videos {
    color: rgba(255, 255, 255, 0.65);
  }

/* Main section styles */

.main {
      background-color: #111111;
}
/* Change your habit section styles */

.change-habit {
  width: 100vh;
  height: 452px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 80px;
}

.change-banner {
  width: 100vh;
  height: 120px;
  text-align: center;
  margin-bottom: 58px;
}

.change-title {
  font-size: 3rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
}

.change-description {
  font-size: 0.875rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 4px;
}

.change-img-section{
  width: 100vh;
  height: 274px;
  margin: 0 auto;
  justify-content: space-between;
}

.change-movement {
  width: 231px;
  height: 274px;
  align-items: center;
}

.img{
  border-radius: 50%;
}

.movement-title-description {
  width: 231px;
  height: 34px;
  text-align: center;
}

.change-movement-title {
  font-size: 1.125rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.change-movement-description {
  font-size: 0.875rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5)
}

/* Run extra section  styles */
.run-extra-section {
  max-width: 1100px;
  border-radius: 18px;
  background-color: rgb(51, 51, 51);
  margin-left: 400px;
  margin-bottom: 80px;
}

.promo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  gap: 165px;
}

.text-content {
  max-width: 50%;
  margin-left: 50px;
}

.text-content h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 3rem;
  font-weight: 900;
}

.text-content p {
  font-size: 0.875rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin: 20px 0;
}

.image-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: none;
  object-position: 70% 29%;
}

/* .run-extra {
  max-width: 1060px;
  height: 371px;
  margin: 0 auto;
  border-radius: 18px;
  background-color: rgba(34, 34, 34, 1);
  align-items: center;
  gap: 165px;
  
  
}

.run-extra-content {
  margin-left: 54px;
}

.run-extra-title {
  font-size: 3rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
}

.run-extra-description {
   font-size: 0.875rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.run-img-div {
  width: 500px;
  height: 500px ;
  border: 1px solid red;
 
}

.test-div {
  height: 250px;
  width: 250px;
  border: 1px solid red;
}

.run-extra-img {
  width: 500px;
  height: 500px; */
  /* border-radius: 12px;
  
  object-position: center;

} */

/* BMI CALCULATOR STYLES */

.main-calc-part {
  background-color: rgba(34, 34, 34, 1);
  position: relative;
  height: 70vh;
}

.bmi-calc-part{
  width: 671px;
  height: 120px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 600px;
}

.bmi-chart-calc {
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.bmi-title-desc {
  background-color: #777777;
}

.bmi-calc-title {
  font-size: 3rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
}

.bmi-calc-description {
  font-size: 0.875rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
}

.bmi-chart-part {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
}

.bmi-chart {
  padding: 20px;
  border-radius: 8px;
  width: 45%;
}

.bmi-chart h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.bmi-chart table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.bmi-chart th {
  text-align: left;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.bmi-chart td {
  text-align: left;
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.bmi-calculator {
  padding: 20px;
  border-radius: 8px;
  width: 45%;
}

.bmi-calculator h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.bmi-calculator .height-weight {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.height-weight {
  gap: 12px;
}

.bmi-calculator .height-weight .single-row {
  justify-content: flex-start;
}

.single-row {
  width: 100%;
}

.bmi-calculator input[type="text"],
.bmi-calculator select {
    width: 48%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    background-color: rgba(46, 46, 46, 1);
    color: white;
}

.bmi-calculator input[type="text"]::placeholder {
  color: rgba(136, 136, 136, 1);
}

.bmi-calculator select {
  color: rgba(136, 136, 136, 1);
}

.calc-button {
  margin-top: 20px;
}

/* Team section styles */
.team-section {
  text-align: center;
  padding: 50px 0;
  max-width: 1100px;
  margin: 0 auto;
}

.team-section h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 1);
}

.team-section p {
  font-size: 0.875rem;
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.5);
}

.team-grid {
  background-color: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 20px;
  padding: 20px;
}

.team-member {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.team-member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.team-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  padding: 20px;
  color: rgba(255, 255, 255, 1);
  border-radius: 0 0 15px 15px;
}

.team-info h3 {
  margin: 0;
  font-size: 20px;
}

.team-info p {
  margin: 5px 0 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}

/* footer section styles */
footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: 1440px;
  margin: 0 auto;
}

.footer-left {
  max-width: 500px;
  margin-bottom: 73px;
}

.logo {
  color: rgba(230, 83, 60, 1);
  font-size: 4.37rem;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 10px;
}

.footer-left-description {
  font-size: 0.875rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.footer-right {
  display: flex;
  margin-bottom: 73px;
  gap: 152px;
}

.footer-column {
  margin-right: 60px;
  margin-top: 40px;
}

.footer-column h3 {
  font-size: 2rem;
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.footer-bottom {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  margin-top: 10px;
  padding-top: 35px;
  text-align: center;
  font-size: 1.25rem;
}

.footer-bottom p {
  margin: 0;
}
