@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.miama-font {
  font-family: 'Miama', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 9rem;
}

  .header-bg{
    /* background-image: linear-gradient(to bottom, #111111, #777777); */
    background-image: linear-gradient(#111111, #777777, #111111);
  }

  /* shared styles */
  .background-color {
    background-color: #111111;
  }
  

  .display-flex {
    display: flex;
  }

  .btn-primary {
    background-color: #E6533C;
    color: white;
    padding: 16px 46.5px;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 42px;
    border: none;
  }

  .secondary-btn {
    /* background-image: linear-gradient(to right,#111111, #777777); */
    background-color: black;
    color: white;
    padding: 16px 46.5px;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 42px;
    border: none;
    margin-left: 15px;
  }

  /* light-02 */
  .text-gray {
    color: rgba(255, 255, 255, 1);
  }

   /* light-01 */
   .text-light-gray {
    color: rgba(255, 255, 255, 0.5);
  }


  /* header styles */
  .brand {
    font-size: 2.25rem;
    font-weight: 800;
    color: rgba(230, 83, 60, 1);
    font-style: italic;
  }

  /* home navbar styles */
  .home-navbar{
    background-color: rgba(230, 83, 60, 1);
    width: 92px;
    height: 38px;
    border-radius: 46px;
    padding: 10px 20px;
  }
  
  /* navbar styles */
  .navbar {
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-link {
    text-decoration: none;
  }

  .nav-item {
    list-style: none;
    margin-right: 47px;
  }

  .navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
  }

  /* banner styles */

  .banner-title {
    width: 520px;
    height: 282px;
    font-size: 4.8rem;
    font-weight: 900;
    text-align: left;
    line-height: 130%;
  }

  .banner-description {
    width: 520px;
    height: 48px;
    font-size: 1rem;
  }

  .banner-img {
    margin-left: 88px;
    margin-right: 214px;
  }

  .test {
    position: relative;
  }

  #workout-badge {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: none;
    padding: 17px 53px 17px 24px;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: left;
    position: absolute;
    left: 50px;
    top: 400px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .red-circle {
    border: 2px solid red;
    padding: 20px;
    background-color: #E6533C;
    border-radius: 9999px;
  }
  #another-badge {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: none;
    padding: 17px 53px 17px 24px;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: left;
    position: absolute;
    right: 150px;
    top: 150px;
  }

  #workout-num {
    color: #FFFFFF;
    font-size: 2.4rem;
    font-weight: 800;
  }
   #free-videos {
    color: rgba(255, 255, 255, 0.65);
  }

/* Main section styles */

.main {
      background-color: #111111;
}
/* Change your habit section styles */

.change-habit {
  width: 100vh;
  height: 452px;
  margin: 0 auto;
  text-align: center;
}

.change-banner {
  width: 100vh;
  height: 120px;
  text-align: center;
  margin-bottom: 58px;
}

.change-title {
  font-size: 3rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
}

.change-description {
  font-size: 0.875rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.change-img-section{
  width: 100vh;
  height: 274px;
  margin: 0 auto;
  justify-content: space-between;
}

.change-movement {
  width: 231px;
  height: 274px;
  align-items: center;
}

.img{
  border-radius: 50%;
}

.movement-title-description {
  width: 231px;
  height: 34px;
  text-align: center;
}

.change-movement-title {
  font-size: 1.125rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.change-movement-description {
  font-size: 0.875rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5)
}

/* Run extra section  styles */

/* .run-extra {
  max-width: 1060px;
  height: 371px;
  margin: 0 auto;
  border-radius: 18px;
  background-color: rgba(34, 34, 34, 1);
  align-items: center;
  gap: 165px;
  
  
}

.run-extra-content {
  margin-left: 54px;
}

.run-extra-title {
  font-size: 3rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
}

.run-extra-description {
   font-size: 0.875rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.run-img-div {
  width: 500px;
  height: 500px ;
  border: 1px solid red;
 
}

.test-div {
  height: 250px;
  width: 250px;
  border: 1px solid red;
}

.run-extra-img {
  width: 500px;
  height: 500px; */
  /* border-radius: 12px;
  
  object-position: center;

} */

/* BMI CALCULATOR STYLES */
.bmi-calc-part{
  width: 671px;
  height: 120px;
  margin: 0 auto;
  text-align: left;
}

.bmi-calc-title {
  font-size: 3rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
}

.bmi-calc-desciption {
  font-size: 0.875rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.bmi-chart-part {
  font-size: 1.75rem;
  font-weight: 900;
  color: #FFFFFF;
}

table, tr, td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
}

.bmi-title {
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
}

.bmi-details {
  font-size: 0.875rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}